@use '../../foundation/mixin' as *;

.c-backTop {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 80%;
    left: 50%;
    width: 80px;
    height: 1px;
    background-color: #fff;
    transform: translate(-50%, -50%);

    @include sp {
      width: 50px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: translateX(-50%) rotate(45deg);

    @include sp {
      width: 30px;
      height: 30px;
      top: 110%;
    }
  }
}