.c-contentsTitle {
  display: flex;
  align-items: center;
  padding-top: 25px;
  font-size: 25px;
}

.c-contentsTitle--right {
  justify-content: flex-end;
}

.c-contentsTitle__black {
  color: white;
}