.c-img--headerLogo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-img--side {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 30px;
  padding: 0 15px;
  background-size: contain;
  background-color: #fff;
}

.c-img--side--large {
  height: 60px;
}

.c-img--main {
  display: block;
  margin: 0 auto;
  width: 720px;
  height: 200px;
  object-fit: cover;
}

.c-img--hero,
.c-img--subHero {
  width: 100%;
}

.c-img--flower {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.c-img--section,
.c-img--viewport {
  max-width: 350px;
  height: auto;
  object-fit: contain;
}

.c-img--viewport--about {
  flex-shrink: 0;
}


.c-img--event {
  max-width: 420px;
  max-height: 420px;
  object-fit: contain;
}

.c-img--concept {
  width: 800px;
  height: 800px;
  object-fit: cover;
  position: relative;
  left: -50px;
}

.c-img--concept--right {
  left: auto;
  right: -50px;
  max-width: none;
}

.c-img--about {
  display: block;
  width: 100%;
  object-fit: cover;
}

.c-img--columnTitle {
  padding-top: 25px;
}

.c-img--columnImage,
.c-img--others {
  width: 100%;
  object-fit: contain;
}
