@use '../../foundation/mixin' as *;

.c-img--headerLogo {
  width: 100%;
  object-fit: contain;
}

.c-img--side {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 30px;
  padding: 0 15px;
  background-size: contain;
  background-color: #fff;
}

.c-img--side--large {
  height: 60px;
}

.c-img--main {
  display: block;
  margin: 0 auto;
  width: 720px;
  height: 200px;
  object-fit: cover;
}

.c-img--hero,
.c-img--subHero {
  width: 100%;
}

.c-img--flower {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.c-img--section,
.c-img--viewport {
  max-width: 350px;
  height: auto;
  object-fit: contain;

  
}

.c-img--viewport--about {
  flex-shrink: 0;
}

.c-img--event {
  max-width: 250px;
  height: auto;
  object-fit: contain;
}

.c-img--concept {
  width: 200px;
  height: auto;
  object-fit: cover;
  position: relative;
  left: -50px;
}

.c-img--concept--right {
  left: auto;
  right: -40px;
  max-width: none;
}

.c-img--about {
  display: block;
  width: 100%;
  object-fit: cover;
}

.c-img--columnTitle {
  padding-top: 25px;
}

.c-img--columnImage {
  width: 100%;
  object-fit: cover;
}

.c-img--others {
  display: block;
  height: 400px;
}

.c-img--photoLogo {
  max-height: 40px;
}

.c-img--photoLogo__day {
  max-height: 31px;
}

.c-img--section--space {
  padding-top: 30px;
  display: block;
  margin: 0;
}

.c-img--party {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.c-img--monoLogo {
  width: 240px;
  height: 100%;
  object-fit: contain;
}

.c-img--sns {
  width: 30px;
  height: 30px;
}