@use '../../foundation/mixin' as *;

.c-menuText {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 10px;
  background-color: #333;
  border-radius: 20px;
  width: 45px;
  height: 20px;
  z-index: 200;
  line-height: 20px;
}

.c-menuText span {
  transition: 0.3s ;
  transform: translateY(0);
}

.c-menuText .c-text--hover {
  transform: translateY(100%);
}